/_tmp/
# docs/ は既定で ignore. 内容が確定したファイルのみ下に !  で追跡解除する
/docs/*
!/docs/plain_terms.md
!/docs/breath_direction.md
!/docs/check_version.md
!/docs/remove_meta_block.md
!/docs/publish_doc.md
!/docs/translation_terms.md
!/docs/yathattha_term.md
.obsidian/workspace.json
